*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body{
    height: 100%;
    width:100%;

}
body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
#box{
    background-color: rgb(0,0,0);
    border-radius: 10px;
    border: 6px solid white;
    width: 200px;
    height: 200px;
}
button{
    padding: 10px 20px;
    font-size: 20px;
}
button:active{
    scale:0.95;
}