:root{
    --pri:#0d1b29;
    --sec:#547792;
    --tri:#94B4C1;
    --sq:#EAE0CF;

}
    @font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}
@font-face {
    font-family: normal;
    src: url(./AeonikTRIAL-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: aeonik;
    color: var(--sq);
}
html,
body{
    height: 100%;
    width: 100%;
    background-color:var(--pri);
}
#main{
    height: 100%;
    width:100%;
    background-color: var(--pri);
}
nav{
    position:fixed;
    background-color: var(--sec);
    width: 100%;
    height: 60px;
}
.allElems{
    height: 100%;
    width: 100%;
    padding: 40px;
    padding-top: 80px;
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    gap: 40px;

}
.elem{
    background-color: var(--sq);
    border-radius: 10px;
    height: 400px;
    width: 330px;
    font-size: 30px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.2s;
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.elem h2{
    position: absolute;
    font-size: 30px;
    font-weight: lighter;
    bottom: 4%;
    right: 5%;
}
.elem:active{
    scale: 0.97;
}
.fullelem{
    height: 100%;
    width: 100%;
    background-color:var(--pri);
    padding: 20px;
    font-size: 50px;
    position: absolute;
}