*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html,
body{
    height: 100%;
    width:100%;

}
body{
    background-color: #111;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    background-color: #cac1c1;
    padding: 50px 80px;
    border-radius: 10px;
    text-align: center;
}
img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
}
